<?xml version="1.0"?>
<!--
/**
 * Module configuration
 *
 * @author TrueAction
 */
-->
<config>
	<modules>
		<TrueAction_Dom>
			<version>0.1.0</version>
		</TrueAction_Dom>
	</modules>
	<global>
		<models>
			<truedom>
				<class>TrueAction_Dom_Model</class>
			</truedom>
		</models>
	</global>
	<phpunit>
		<suite>
			<modules>
				<TrueAction_Dom />
			</modules>
		</suite>
	</phpunit>
</config>
